@using Umbraco.Cms.Core.Models
@using Umbraco.Commerce.Core.Api
@using Umbraco.Commerce.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{


    var Products = Umbraco.ContentAtRoot()
                        .DescendantsOrSelf<Product>()
                        .Where(x => x.IsVisible())
                        .OrderByDescending(x => x.CreateDate) // Assuming there's a CreateDate property
                        .Take(4);


    var store = Model.Value<StoreReadOnly>("store", fallback: Fallback.ToAncestors);
    bool isProductOutOfStock = false;
    bool isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
}


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>

                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                @foreach (var item in Products)
                                {
                                    var productImage = item.Value<MediaWithCrops>("image", fallback: Fallback.ToAncestors);
                                    var productUrl = productImage != null ? productImage.Url() : null;

                                    var product = CommerceApi.Instance.GetProduct(store.Id, item.Key.ToString(), "en-GB");
                                    var prices = product.Prices.ToList();
                                    var price = prices[0].Value;
                                    var productReference = item.Key.ToString();
                                    var productCount = item.Stock;

                                    if (item.Stock < 1)
                                    {
                                        isProductOutOfStock = true;
                                    }

                                    <!-- product -->
                                    <div class="product">
                                        <a href="@item.Url()">
                                            <div class="product-img">
                                                @if (productImage != null)
                                                {
                                                    <img src="@productImage.GetCropUrl("productImage")" alt="">
                                                }
                                                <div class="product-label">
                                                    <span class="sale">-30%</span>
                                                    <span class="new">NEW</span>
                                                </div>
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">Category</p>
                                                <h3 class="product-name"><a href="@item.Url()">@item.Name</a></h3>
                                                <h4 class="product-price">$@price <del class="product-old-price">$990.00</del></h4>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                                </div>
                                            </div>

                                            @if (isLoggedIn)
                                            {
                                                @if (isProductOutOfStock)
                                                {
                                                    <div class="add-to-cart">

                                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>out of stock</button>

                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="add-to-cart">
                                                        @using (Html.BeginUmbracoForm("AddToCart", "CartSurface"))
                                                        {
                                                            @Html.Hidden("productReference", productReference)
                                                            ;
                                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                                        }
                                                    </div>

                                                }
                                            }
                                            else
                                            {
                                                <div class="add-to-cart">
                                                    <button class="add-to-cart-btn" onclick="window.location.href='/my-account/';">
                                                        <i class="fa fa-shopping-cart"></i> add to cart
                                                    </button>
                                                </div>


                                            }
                                        </a>
                                    </div>
                                    <!-- /product -->
                                }
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>