@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Commerce.Core.Api
@using Umbraco.Commerce.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Cart> // Assuming model type
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using Microsoft.AspNetCore.Mvc;
@using System.Collections.Generic;
@using Umbraco.Commerce.Extensions;
@using Umbraco.Extensions;

@{

    Layout = "Master.cshtml";
    var store = Model.Value<StoreReadOnly>("store", fallback: Fallback.ToAncestors);
    var Order = CommerceApi.Instance.GetCurrentOrder(store.Id);
}

<div class="section">
    <div class="container">
        <div class="col-12 order-details">
            <div class="section-title text-center">
                <h3 class="title">Your Cart</h3>
            </div>

            @if (Order != null && Order.OrderLines != null && Order.OrderLines.Any())
            {
                <form method="post" action="/CartSurface/UpdateCart">
                    <table class="table" style="margin: 0 auto;">
                        <thead>
                            <tr>
                                <th>PRODUCT</th>
                                <th>PRICE</th>
                                <th>QUANTITY</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Order.OrderLines)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.UnitPrice.WithoutAdjustments.Formatted()</td>
                                    <td>
                                        <input type="hidden" name="orderLines[@item.Id].Id" value="@item.Id" />
                                        <input type="number" name="orderLines[@item.Id].Quantity" value="@item.Quantity" class="bg-gray-200 p-2 w-16" />
                                    </td>
                                    <td>@item.TotalPrice.WithoutAdjustments.Formatted()</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <strong>Subtotal</strong>
                                </td>
                                <td class="checkoutsutoatal">
                                    <strong class="order-total">@Order.TotalPrice.WithoutAdjustments.Formatted()</strong>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms">
                        <label for="terms">
                            <span></span>
                            I've read and accept the <a href="#">terms & conditions</a>
                        </label>
                    </div>
                    <div class="text-center">
                        <a href="#" class="primary-btn order-submit">Place order</a>
                    </div>
                </form>
            }
            else
            {
                <h2 class="text-center">Your cart is empty</h2>
            }
        </div>
    </div>
</div>

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->