@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PaymentMethod>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Commerce.Core.Api
@using Umbraco.Commerce.Core.Models
@{
    Layout = "Master.cshtml";
}


@{
    var store = Model.Value<StoreReadOnly>("store", fallback: Fallback.ToAncestors);
    var Order = CommerceApi.Instance.GetCurrentOrder(store.Id);

    var PaymentMethods = CommerceApi.Instance.GetPaymentMethods(store.Id);

    var zeroValuePaymentMethod = PaymentMethods.FirstOrDefault(x => x.Alias == "zeroValue");

    var PaymentCountry = Order.ShippingInfo.CountryId.HasValue
               ? UmbracoCommerceApi.Instance.GetCountry(Order.ShippingInfo.CountryId.Value)
               : null;
}

<div class="section">
    <div class="container">
        <div class="col-12 order-details">
            <div class="section-title text-center">
                <h3 class="text-xl font-medium mb-4 mt-8">Payment Method</h3>
                @using (Html.BeginUmbracoForm("UpdateOrderPaymentMethod", "CheckoutSurface"))
                {
                    <div class="row">
                        @if (Order.TotalPrice.Value.WithTax > 0)
                        {
                            <div class="col-md-12">
                                <ul class="border border-gray-300 rounded ship-meth">
                                    @foreach (var item in PaymentMethods.Where(x => x.Alias != "zeroValue").Select((pm, i) => new { PaymentMethod = pm, Index = i }))
                                    {
                                        <li class="border-gray-300 @(item.Index > 0 ? "border-t " : "")">
                                            <label class="flex items-center py-4 px-4 cursor-pointer hover:bg-gray-100">
                                                <input name="paymentMethod" type="radio" value="@item.PaymentMethod.Id" class="mr-3" @Html.Raw((Order.PaymentInfo.PaymentMethodId.HasValue && Order.PaymentInfo.PaymentMethodId.Value == item.PaymentMethod.Id) || (!Order.PaymentInfo.PaymentMethodId.HasValue && PaymentCountry != null && PaymentCountry.DefaultPaymentMethodId == item.PaymentMethod.Id) ? "checked=\"checked\"" : "") required />
                                                <span class="font-medium">@(item.PaymentMethod.Name)</span>
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="primary-btn" type="submit">Update Payment Method</button>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" name="paymentMethod" value="@(zeroValuePaymentMethod.Id)" />
                            <div class="col-md-12">
                                <div class="border border-gray-300 rounded py-4 px-4 text-center">It looks like today is your lucky day, there is nothing for you to pay 🎉</div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
